<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Movies</title>
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="page">
  <header class="page__header">
    <h1 class="page__title">Buscador de Películas</h1>
    <form class="finder__form">
      <label for="finder" class="finder__label">Busca tu película favorita</label>
      <input type="text" id="finder" class="finder__input">
      <button type="button" class="finder__btn">Buscar</button>
    </form>
  </header>
  <main class="page__main">
    <aside class="favorites">
      <h2 class="favorites__title">Películas Favoritas</h2>
      <ul class="favorites__list"></ul>
    </aside>

    <ul class="result__list"></ul>
  </main>


  <script src="assets/js/main.js"></script>
</body>

</html>
